<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page {{ post.id }}</title>
</head>
<body>
<h1>This is post {{ post.id }}</h1> <br>

<div>
    {% for category in post.categories.all %}
        <a href = "{% url "category" ck=category.id  %}"> {{ category }} </a><br>
    {% endfor %}
</div>
<br>
<h1>{{ post.bodytext }}</h1>
<br>
<div>
    {% if post.author == user %}
            <a href="{% url "editpost" pk=post.id %}"><button>Edit</button></a>
    {% endif %}
</div>

Created by: <a href="{% url "account" name=post.author %}">{{ post.author }} </a> <br><br>

<a href="{% url "home" %}">Main Page</a>
</body>
</html>